.bg-color{
    background-color: #394867 !important;
}

.bg-body-tertiary{
    background-color: #F1F6F9 !important;
}


.celdaTitulo{
    padding: 20px;
    padding-bottom: 30px;
    padding-top: 40px;
    color: #F1F6F9;
}

.celdasPilares{
    color: #F1F6F9;
}

.classFooter{
    margin-top:30px;
    background-color: #F1F6F9;
}

.col{
    border: #F1F6F9;
}








