#contenedor{
  margin-top:70px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

#parte1a, #parte1b, #parte1c, #parte2, #parte3{
  padding-left: 40px;
} 


.card {
  width: 300px;
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  height: 200px; /* Nuevo */
  border-radius: 5px;
  
  //object-fit: cover; /* Para asegurar que la imagen se ajuste correctamente */
  display: block; /* Para centrar la imagen */
  margin: 0 auto; /* Para centrar la imagen */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Nuevo */
}

.card-content {
  margin-top: 10px;
}

.card-content h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.card-content p {
  font-size: 14px;
  margin-bottom: 10px;
}

.character-info {
  list-style-type: none;
  padding-left: 0;
}

.character-info li {
  margin-bottom: 5px;
}

.Alive {
  color: green;
}

.Dead {
  color: red;
}

.unknown {
  color: grey;
}
