
body {
    margin: 0;
    padding: 0;
    background-color: $bg_color;
  }

  /* Grilla con flexbox */
  .navbar, .carousel, .titular, .columns, .footer {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .navbar{
    background-color: $bg_navbar_color;
  }
  
  .titular {
    flex-direction: column;
    align-items: center;
    padding:10px;
    color: $text_color;
  }
  
  .columns {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .column {
    padding: 10px;
    flex-basis: 25%;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $text_color;
  }
  
  .footer {
    margin-top: 30px;
    background-color: $bg_footer_color;
  }


  @media (min-width: 768px) {
    .column {
      flex-basis: 50%;
    }
  }
  
  @media (min-width: 1024px) {
    .column {
      flex-basis: 25%;
    }
 }

  





